:root {
    --primary-color: #1a0c0c;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #7c6b75;
    --bs-body-font-family: 'Monstserrat', sans-serif;
}

.header {
    z-index: 2;
}

.nav {
    align-items: ce;
}

/*Hero Section*/

.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.hero_img {

    /*Keep image centered when window is resized*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hero_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.hero_content {
    z-index: 1;
}