:root {
    --primary-color: #1a0c0c;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #7c6b75;
    --bs-body-font-family: 'Monstserrat', sans-serif;
}

.header {
    z-index: 2;
}

nav {
    z-index: 3;
}


/*Hero Section*/

.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.hero_img {

    /*Keep image centered when window is resized*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hero_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.hero_content {
    z-index: 1;
}

/*Hero Section End*/

footer {
    background: white;
    text-align: center;
    padding-top: 3em;
    }

    h4 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
        color: rgb(65, 65, 65);
    }

    .about-text {
        padding-bottom: 1em;
        color: grey;
    }

    .contact-now-btn {
        display: inline-block;
        width: 200px;
        padding: 1em;
        margin-bottom: 3em;
        color: white;
        background: grey;
        font-size: 13px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
    }


.footer_bottom {
    background: white;
    padding: 1em;
    letter-spacing: 2px;
    text-align: center;
    color: grey;
    text-transform: uppercase;
    z-index: 2;
}

.contact_form {
    z-index: 2;
    margin-top: 10em;
    color: #ffffff;
}

.about_content {
    text-align: center;
    padding: 1em;
    z-index: 1;
    color: white;
}

.btn-group a {
    color: white;
}

.footer-btn-group i {
    width: 80px;
    margin-bottom: 1em;
}

.footer-btn-group a {
    color: var(--primary-color);
}

.about_text {
    padding-block: 1em;
}

.figure {
    border-radius: 50%;
}

.project_content {
    z-index: 1;
}

.gallery_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .gallery_column {
    flex: 50%;
    padding: 0 4px;
  }

  .gallery_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 12rem;
  }
